#기초

## (기타)

In [ ]:
X = int(input())
for n in range(int(input())):
  a, b = input().split()
  X -= int(a)*int(b)
print('Yes' if X==0 else 'No')

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

In [ ]:
# int(True)=1, int(False)=0
X = int(input())
for n in range(int(input())):
  a, b = map(int, input().split())
  X -= a*b
print('YNeos'[X!=0::2])

15000
3
2500 2
3000 3
500 2
YES

In [ ]:
for n in zip([-1,-1,-2,-2,-2,-8], map(int, input().split())):
  print(-sum(n), end=' ')

0 1 2 2 2 7
1 0 0 0 0 1

In [ ]:
for n, r in zip(input().split(), [1,1,2,2,2,8]):
  print(r-int(n), end=' ')

0 1 2 2 2 7
1 0 0 0 0 1

In [ ]:
import sys
T = int(input())
for i in range(1,T+1,1):
  A, B = map(int, sys.stdin.readline().split())
  print('Case #{}: {} + {} = {}'.format(i, A, B, A+B))

In [ ]:
N = int(input())
for i in range(N):
  print(' '*(N-i-1) + '*'*(i+1))

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))
for i in range(N):
  if A[i]<X:
    print(A[i], end=' ')

In [ ]:
while True:
  try:
    A, B = map(int, input().split())
  except:
    break
  print(A+B)

In [ ]:
N = int(input())
X = N
length = 0
while True:
  N = (N%10)*10 + (N//10 + N%10)%10
  length += 1
  if N==X:
    break
print(length)

In [ ]:
N = int(input())
L = list(map(int, input().split()))
print(min(L), max(L))

In [ ]:
L = [int(input()) for i in range(9)]
print(max(L), L.index(max(L))+1)

In [ ]:
L = [int(input()) for i in range(3)]
M = list(str(L[0]*L[1]*L[2]))
for j in range(10):
  print(M.count(str(j)))

In [ ]:
L = [int(input())%42 for i in range(10)]
n = 1
for i in range(1,len(L),1):
  if L[i] not in L[:i]:
    n += 1
print(n)

In [ ]:
L = [int(input())%42 for i in range(10)]
print(len(set(L)))

In [ ]:
count = {}
lists = [int(input())%42 for k in range(10)]
for i in lists:
    try: count[i] += 1
    except: count[i] = 1
print(len(count))

In [ ]:
N = int(input())
score = list(map(int, input().split()))
M = max(score)
for j in range(N):
  score[j] = score[j]*100/M
print(sum(score)/N)

In [ ]:
n = int(input())
s = [int(x) for x in input().split()]
print(sum(s)/max(s)*100/n)

In [ ]:
t = int(input())
res = []
for i in range(t):
  ox = input()
  r = list(ox)
  score = 0
  count = 1
  for a in r:
    if a=='O':
      score += count
      count += 1
    else:
      count = 1
  res.append(score)
for s in res:
  print(s)

In [ ]:
t = int(input())
for i in range(t):
  ox = input()
  r = list(ox)
  score = 0
  count = 1
  for a in r:
    if a=='O':
      score += count
      count += 1
    else:
      count = 1
  print(score)

In [ ]:
C = int(input())
for i in range(C):
  T = list(map(int, input().split()))
  exp = sum(T[1:]) / T[0]
  num = 0
  for j in range(T[0]):
    if T[j+1]>exp:
      num += 1
  rat = num/T[0]*100
  print('{:.3f}%'.format(rat))

In [ ]:
import numpy as np
round(np.average([50,50,70,83.323,100]), 4)

70.6646

In [ ]:
round(np.mean([50,50,70,83.323,100]), 4)

## 1차원 배열 - 개수 세기

In [ ]:
int(input())
L = [*map(int,input().split())]
print(L.count(int(input())))

11
1 4 1 2 4 2 4 2 3 4 4
5
0

## 1차원 배열 - 과제 안 내신 분..?

In [ ]:
L = {int(input()) for _ in range(28)}
print(min({*range(1,31)}-L))
print(max({*range(1,31)}-L))

1
2
3
4
5
6
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
7
15

## 윤년

In [ ]:
print(int((y:=int(input()))%4==0 and y%100!=0 or y%400==0))

400
1

## 줄 세우기

In [ ]:
a = []
for x,i in zip(range(1,int(input())+1),input().split()):
  a.insert(int(i),x)
print(*a[::-1])

5
0 1 1 3 2
4 2 5 3 1

In [ ]:
# 줄 세우기 예시
a = [] # 줄 세운 결과를 저장할 리스트
L = [0,1,1,3,2] # 학생 1~n이 각자 뽑은 번호 리스트
for x,i in zip([1,2,3,4,5],L): # 학생이 뽑은 번호와 그 학생을 묶어서
  a.insert(i,x) # 리스트의 그 번호에 그 학생을 저장
print(*a[::-1]) # 거꾸로 저장되어있으므로 역으로 출력하면 원하는 결과를 반환

4 2 5 3 1

In [ ]:
# 거꾸로 저장하지 않는 코드
a = [] # 줄 세운 결과 저장할 리스트
n = int(input()) # 학생 수 n명
L = input().split() # 학생 1~n이 뽑은 번호 : 몇 칸 앞으로 갈지
for i in range(n): # 학생 1(i=0)부터 n(i=n-1)까지,
  a.insert(i-int(L[i]),i+1)
  # 리스트의 적절한 인덱스(뽑을 수 있는 번호의 최댓값 - 뽑은 번호 = 몇 칸 뒤로 갈지)에 학생(i+1)을 삽입
print(*a)

5
0 1 1 3 2
4 2 5 3 1

## 홀수

In [ ]:
s = 0 # 홀수 합
m = 101 # 최소 홀수
for l in [int(input()) for i in range(7)]: # 입력받은 7개의 수에 대해,
  if l%2!=0: # 홀수이면,
    s += l # 합하고
    m = min(m,l) # 최소 홀수 갱신
if s!=0: # 합이 0이 아니면,
  print(s,m,sep='\n') # 합과 최소 홀수 출력
else: # 합이 0이면, 즉, 모두 짝수였다면,
  print(-1) # -1 출력

12
77
38
41
53
92
85
256
41

In [ ]:
e = []
for _ in range(7):
  if (x:=int(input()))%2:
    e.append(x)
print(f'{sum(e)}\n{min(e)}' if e else -1) # 빈 리스트이면 False

2
4
20
32
6
10
8
-1

## 약수

In [ ]:
k = int(input()) # 진짜 약수의 개수
*D, = map(int,input().split()) # 진짜 약수(정렬되지 않음)
print(max(D)*min(D)) # 최대와 최소를 곱하면 원래 수

2
2 4
8

In [ ]:
input()
print(max(D:=[*map(int,input().split())])*min(D))

2
2 4
8

## 최대공약수와 최소공배수

In [ ]:
# 직관적인 방법
a,b = map(int,input().split())
for d in range(min(a,b),0,-1): # a, b 중 작은 값부터 1까지로,
  if a%d==0 and b%d==0: # a,b를 나눈 나머지가 모두 0일 때,
    print(d) # 최대공약수이므로 출력
    print(a*b//d) # 두 수의 곱을 최대공약수로 나누면 최소공배수
    break # 반복문 탈출

24 18
6
72

In [ ]:
# 유클리드 호제법 gcd(a,b)==gcd(b,a%b)
a,b = map(int,input().split())
m = a*b
while a%b!=0:
  a,b = b,a%b
print(b)
print(m//b)

## 애너그램 만들기

In [ ]:
# 두 문자열에 존재하는 모든 문자 종류 각각에 대해, 두 문자열에 대한 등장 빈도 차이를 합하여 계산
A,B = input(),input()
s = 0
for k in {*(A+B)}:
  s += abs(A.count(k)-B.count(k))
print(s)

xxxy
xyyy
4

In [ ]:
A,B = input(),input()
print(sum(abs(A.count(k)-B.count(k)) for k in {*(A+B)}))

sdf
dsdf
1

## 시험 감독

In [ ]:
input()
A = [*map(int,input().split())]
B,C = map(int,input().split())
print(sum([(r:=[0,a-B][a>B])//C+1,r//C+2][r%C!=0] for a in A))

5
10 9 10 9 10
7 2
13

In [ ]:
input()
A = [*map(int,input().split())]
B,C = map(int,input().split())
print(sum([1,1-((B-a)//C)][a>B] for a in A))

5
10 9 10 9 10
7 2
13

# 함수

##정수 N개의 합

In [ ]:
def fun(a):
  return(sum(a))

In [ ]:
fun([1,2,3])

6

In [ ]:
def solve(a):
  s = 0
  for i in range(len(a)):
    s += a[i]
  return s

In [ ]:
solve([1,2,3])

6

##셀프 넘버

In [ ]:
n_list = list(range(1,10001))
notsn = []
for n in n_list:
  for x in str(n):
    n += int(x) # 생성자가 있는 수, 즉 셀프 넘버가 아닌 수
  if n<=10000:
    notsn.append(n)
for y in set(notsn): # set으로 집합화하여 중복값 제거
  n_list.remove(y) # 셀프 넘버가 아닌 수 제거
for sn in n_list:
  print(sn)

In [ ]:
n_set = set(range(1,10001))
nsn_set = set()
for n in n_set:
  for x in str(n):
    n += int(x)
  nsn_set.add(n) # 셀프 넘버가 아닌 수의 집합, add로 집합에 원소 추가
sn_set = n_set - nsn_set # 차집합 연산
for sn in sorted(sn_set): # 집합 내 원소에 순서 부여, 오름차순:default, 내림차순:reverse=True 
  print(sn)

In [ ]:
# 시간 초과!!!!!

# d(n)정의: n과 n의 각 자리 수를 더하는 함수 
def d(n):
  d = n
  for i in range(len(str(n))):
    d += int(str(n)[i])
  return(d)

# 셀프 넘버 판별 함수 정의: 맞으면 1, 아니면 0을 반환
g = 0 # 이후 반복문에서 발생할 오류에 대비하여 g를 전역변수로 선언
def sn(k):
  global g
  for i in range(1,k):
    g = i
    while g<k:
      g = d(g)
    if g==k:
      break
  if g!=k:
    return 1
  else:
    return 0

# 10000보다 작거나 같은 셀프 넘버를 줄마다 출력
for k in range(1,10001):
  if sn(k)==1:
    print(k)

##한수

In [ ]:
N = int(input())
count = 0
for x in range(1,N+1):
  if all(int(str(x)[i])-int(str(x)[i+1]) == int(str(x)[i+1])-int(str(x)[i+2]) for i in range(len(str(x))-2)):
    count += 1
print(count)

500
119

In [ ]:
N = input()
count = 0
for x in range(1,int(N)+1):
  for i in range(len(str(x))-2):
    if int(str(x)[i])-int(str(x)[i+1]) != int(str(x)[i+1])-int(str(x)[i+2]):
      break
  else:
    count += 1
print(count)

500
119

#문자열

##아스키 코드

In [ ]:
print(ord(input()))

A
65

In [ ]:
# 연습
print(ord('z')-ord('a')+1) # 알파벳 소문자의 개수

26

In [ ]:
# chr()은 ord()의 역함수 
chr(ord('a')), ord(chr(97))

('a', 97)

##숫자의 합

In [ ]:
N = int(input())
print(sum(int(s) for s in input()))

11
10987654321

46

In [ ]:
N = int(input())
print(sum(map(int, input()))) # 문자열의 각 원소를 정수화

11
10987654321
46

##알파벳 찾기

In [ ]:
S = input()
for i in range(ord('a'), ord('z')+1):
  for j in range(len(S)):
    if chr(i)==S[j]:
      print(j, end=' ')
      break
  else:
    print(-1, end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
S = input()
alpha = 'abcdefghijklmnopqrstuvwxyz'
for ltr in alpha:
  print(S.find(ltr), end=' ') # .find()로 전체문자열에서 부분문자열이 시작하는 인덱스를 찾아서 반환, 없으면 -1

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
# 연습
print('i love you'.find(''), 'i love you'.find(' '))
print('i love you'.find('o'), 'i love you'.find('ou'))
print('i love you'.find('i'), 'i love you'.find('u'))
print('i love you'.find('e y'), 'i love you'.find('    '))
print('i love you'.find('iloveyou'), 'i love you'.find('us'))
len('i love you') == 'i love you'.find('u') - 'i love you'.find('i') + 1

0 1
3 8
0 9
5 -1
-1 -1

True

## 문자열 반복

In [ ]:
for t in range(int(input())):
  R, S = input().split()
  for c in S:
    print(c*int(R), end='')
  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
T = int(input())
for i in range(T):
  R, S = input().split()
  for c in S:
    for r in range(int(R)):
      print(c, end='')
  print('')

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

##단어 공부

In [ ]:
W, n = input().upper(), 0
for c in map(chr, range(ord('A'), ord('Z')+1)): # A~Z 탐색
  k = W.count(c)
  if n<k:
    m, n = c, k
  elif n==k:
    m = '?'
print(m)

zaz
Z

In [ ]:
W = input().upper()
ltr = list(set(W)) # 알파벳의 종류
ln = [] # 알파벳의 종류별 빈도
for c in ltr:
  ln.append(W.count(c)) # ltr과 ln의 인덱스가 일치
if ln.count(max(ln)) > 1:
  print('?')
else:
  print(ltr[ln.index(max(ln))]) # 최대 빈도의 인덱스에 대응되는 알파벳의 종류

baaa
A

In [ ]:
W = input().upper()
ltr = list(set(W))
ln = []
for c in ltr:
  ln.append(W.count(c))
print(ltr[ln.index(max(ln))] if ln.count(max(ln))==1 else '?')

zZa
Z

##단어의 개수

In [ ]:
print(len(input().split()))

0

In [ ]:
s = input().strip()
print(s.count(' ')+1 if s!='' else 0)

a bvl k k
4

##상수

In [ ]:
print(max(input()[::-1].split()))

839 237
938

In [ ]:
A = ''.join(reversed(input())).split()
print(max(A))

839 237
938

In [ ]:
s = ''
for c in input():
  s = c + s
print(max(s.split()))

123 445
544

## 다이얼

In [ ]:
t = 0
for c in input():
  if ord(c)<ord('D'):
    t += 3
  elif ord(c)<ord('G'):
    t += 4
  elif ord(c)<ord('J'):
    t += 5
  elif ord(c)<ord('M'):
    t += 6
  elif ord(c)<ord('P'):
    t += 7
  elif ord(c)<ord('T'):
    t += 8
  elif ord(c)<ord('W'):
    t += 9
  else:
    t += 10
print(t)

WA
13

In [ ]:
dial = 'ADGJMPTW'
t = 0
for c in input():
  for d in range(len(dial)-1):
    if dial[d]<=c<dial[d+1]:
      t += d+3
  if c in 'WXYZ':
    t += 10
print(t)

UNUCIC
36

In [ ]:
dial = ['ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
s = input()
t = 0
for i in range(len(s)):
  for d in dial:
    if s[i] in d:
      t += dial.index(d)+3
      break
print(t)

UNUCIC
36

## 크로아티아 알파벳

In [ ]:
s = input() # dz=, z=에서 중복되는 경우도 글자 수 측면에서는 잘 처리되어 코드가 무결함
print(len(s) - sum(map(s.count, ['c=','c-','dz=','d-','lj','nj','s=','z='])))

ddz=z=
3

In [ ]:
f = input().count # len(str)=str.count('')-1
print(f('')-1 - sum(map(f, ['c=','c-','dz=','d-','lj','nj','s=','z='])))

ddz=z=
3

In [ ]:
s = input()
ln = len(s)
for c in ['c=','c-','dz=','d-','lj','nj','s=','z=']:
  ln -= s.count(c)
print(ln)

ddz=z=
3

## 그룹 단어 체커

In [ ]:
# 그룹 단어가 아님 <=> 어떤 문자에 대해, 직전 문자와 다르면서 전전까지의 문자열에 이미 나온 경우
n = int(input())
for i in range(n):
  s = input()
  for j in range(len(s)-1):
    if s[j]!=s[j+1] and s[j+1] in s[:j]:
      n -= 1
      break
print(n)

1
z
1

In [ ]:
# 그룹 단어 <=> 모든 문자에 대해, 이미 나온 문자가 다시 나오지 않거나 나오더라도 이웃한 경우
# 즉, 각 문자에 대해 str.find()로 찾은 처음 나오는 위치를 기준으로 정렬했을 때 배열이 보존되면 그룹 단어
n = 0
for i in range(int(input())):
  s = input()
  if list(s)==sorted(s, key=s.find):
    n += 1
print(n)

4
aba
abab
abcabc
a
1

# 기본 수학 1

## 손익분기점

In [ ]:
A, B, C = map(int, input().split())
print(A//(C-B)+1 if C>B else -1)

2100000000 9 10
2100000001

## 벌집

In [ ]:
# 2, 8, 20, 38, 62, ... 계차수열: a_n = 2 + sum(6*k for k in range(n))
N = int(input())
n = 1
while 3*(n-1)*n<=N-2:
  n += 1
print(n)

1
1

In [ ]:
N = int(input())
n = 1
while N!=1:
  if 3*(n-1)*n<=N-2<3*n*(n+1):
    n += 1
    break
  n += 1
print(n)

58
5

## 분수찾기

In [ ]:
X = int(input())
n = 1
while X>n*(n+1)/2:
  n += 1
p = X-(n-1)*n/2
print('%d/%d'%(n+1-p,p)[::n%2*2-1])

14
2/4

In [ ]:
X = int(input())
l = 0
while X>0:
  l += 1
  X -= l
print('%d/%d'%(1-X,l+X)[::l%2*2-1])

14
2/4

## 달팽이는 올라가고 싶다

In [ ]:
import math 
A, B, V = map(int, input().split())
print(math.ceil((V-B)/(A-B))) # floor: 최대정수함수(가우스) / ceil: 최소정수함수

100 99 1000000000
999999901

In [ ]:
A, B, V = map(int, input().split())
n = (V-B)/(A-B)
print(int(n) if int(n)==n else int(n)+1)

5 1 6
2

In [ ]:
# 시간 초과!!!
A, B, V = map(int, input().split())
n = 1
W = A
while W<V:
  W -= (B-A)
  n += 1
print(n)

100 99 1000000000
999999901

## ACM 호텔

In [ ]:
import sys
for t in range(int(sys.stdin.readline())):
  H, W, N = map(int, sys.stdin.readline().split())
  print('%d%02d'%((N-1)%H+1, (N-1)//H+1))

In [ ]:
for _ in range(int(input())):
  H, W, N = map(int, input().split())
  print(f'{(N-1)%H+1}{(N-1)//H+1:02d}')

1
6 12 72
612

In [ ]:
for i in range(int(input())):
  H, W, N = map(int, input().split())
  fl = H if N%H==0 else N%H
  un = N//H if N%H==0 else N//H+1
  print(f'{fl}{un:02d}')

1
6 12 72
612

In [ ]:
for i in range(int(input())):
  H, W, N = map(int, input().split())
  fl = (N-1)%H+1
  un = (N-1)//H+1
  print(f'{fl}{un:02d}')

1
6 12 72
612

In [ ]:
for i in range(int(input())):
  H, W, N = map(int, input().split())
  fl = H if N%H==0 else N%H
  un = N//H if N%H==0 else N//H+1
  print(f'{fl}0{un}' if un//10==0 else f'{fl}{un}')

1
6 12 72
612

## 부녀회장이 될테야

In [ ]:
for _ in range(int(input())):
  k = int(input())
  n = int(input())
  p = [i for i in range(1,n+1)]
  for j in range(k):
    for l in range(1,n):
      p[l] += p[l-1]
  print(p[-1])

2
1
3
6
2
3
10

In [ ]:
# 0층 i호: i명 
# 1층 1호: 1명, 1층 2호: 1+2명, 1층 3호: 1+2+3명 ... => 1층 i호: i(i+1)/2명 
# 2층 1호: 1명, 2층 2호: 1+(1+2)명, ...
# => 2층 i호: 1+(1+2)+...+(1+2+...+i)명 = sum(i(i+1)/2 for i in range(1,i+1))
# k층 n호: ?명
def f(k,n): # 재귀적으로 정의
  if k==0:
    return n
  else:
    return sum(f(k-1,i) for i in range(1,n+1))
for _ in range(int(input())):
  k = int(input())
  n = int(input())
  print(f(k,n))
# 시간 초과!!!

2
1
3
6
2
3
10

## 설탕 배달

In [ ]:
N = int(input())
c = 0
while True:
  if N%5==0:
    c += N//5
    print(c)
    break
  N -= 3
  c += 1
  if N<0:
    print(-1)
    break

11
3

In [ ]:
N = int(input())
n = -1
for t in range(N//3+1):
  for s in range(N//5+1):
    if 5*s+3*t==N:
      n = s+t
      break
  if n!=-1:
    break
print(n)

11
3

## 큰 수 A+B

In [ ]:
# 파이썬이라 문제가 별 의미 없음
print(sum(map(int, input().split())))

1234 4321
5555

# 기본 수학 2

## 소수 찾기

In [ ]:
N = int(input())
nl = list(map(int, input().split()))
for n in nl:
  if n==1 or any(n%k==0 for k in range(2,n)):
    N -= 1
print(N)

5
1 3 61 11 23
4

In [ ]:
N = int(input())
nl = list(map(int, input().split()))
for n in nl:
  if n!=1 and all(n%k!=0 for k in range(2,n)):
    N += 1
print(N-len(nl))

10
1 2 3 4 5 6 7 8 9 10
4

## 소수

In [ ]:
M = int(input())
N = int(input())
pl = []
for n in range(M,N+1):
  if n!=1 and all(n%d!=0 for d in range(2,n)):
    pl.append(n)
if len(pl)!=0:
  print(sum(pl), min(pl), sep='\n')
else:
  print(-1)

64
65
-1

## 소인수분해

In [ ]:
N = int(input())
i = 2
while N!=1:
  if N%i==0:
    N /= i
    print(i)
  else:
    i += 1

72
2
2
2
3
3

In [ ]:
N = int(input())
if N!=1:
  for d in range(2,N+1):
    if N%d==0 and all(d%k!=0 for k in range(2,d)):
      i=1
      while N%(d**i)==0:
        i += 1
      for _ in range(i-1):
        print(d)

9991
97
103

## 소수 구하기

In [ ]:
# 에라토스테네스의 체: 소수성을 판별할 때, 그 수의 제곱근까지만 약수가 아닌 것을 확인하면 된다
M, N = map(int, input().split())
for n in range(M,N+1):
  if n!=1 and all(n%d!=0 for d in range(2,int(n**0.5)+1)): # 에라토스테네스의 체
    print(n)

3 16
3
5
7
11
13

## 베르트랑 공준

In [ ]:
# pl에 2부터 123456*2까지의 소수들을 미리 찾아 저장한 후 입력마다 해당하는 개수만 세어준다
pl = []
for k in range(2,123456*2+1):
  if all(k%d!=0 for d in range(2,int(k**0.5)+1)):
    pl.append(k)
while 1:
  n = int(input())
  if n==0:
    break
  print(sum(n<p<=2*n for p in pl))

100000
8392
100
21
1000
135
1
1
10
4
13
3
0

In [ ]:
# 시간 초과!!! (입력마다 소수를 찾는 과정을 반복하여 이전에 찾아둔 소수를 이용하지 못함)
n = int(input())
while n!=0:
  print(sum(all(k%d!=0 for d in range(2,int(k**0.5)+1)) for k in range(n+1,2*n+1)))
  n = int(input())

100000
8392
0

## 골드바흐의 추측

In [ ]:
def pr(x): # 소수 판별 함수
  return True if all(x%d for d in range(2,int(x**0.5)+1)) else False
for _ in range(int(input())):
  n = int(input())
  for p in range(n//2,n-1):
    if pr(n-p) and pr(p):
      print(n-p, p)
      break

1
10000
4919 5081

In [ ]:
def pr(x):
  return True if all(x%d for d in range(2,int(x**0.5)+1)) else False
for _ in range(int(input())):
  n = int(input())
  p, q = n//2, n//2
  while 1:
    if pr(p) and pr(q):
      print(p, q)
      break
    else:
      p -= 1
      q += 1

1
10000
4919 5081

In [ ]:
pl = [2]
for k in range(3,9998,2): # 소수는 2가 아니면 모두 홀수
  if all(k%d!=0 for d in range(2,int(k**0.5)+1)):
    pl.append(k) # 10000 이하 소수 리스트
for _ in range(int(input())):
  n = int(input())
  for p in pl: # 소수만 탐색
    if p>=n/2: # 차이가 가장 작은 소수쌍을 찾기 위해 중간부터 탐색
      break
  for q in pl[pl.index(p):]:
    if n-q in pl:
      print(n-q, q)
      break

1
10000
4919 5081

In [ ]:
def pr(x):
  return True if x!=1 and all(x%d for d in range(2,int(x**0.5)+1)) else False
for _ in range(int(input())):
  n = int(input())
  for p,q in zip(range(n//2,0,-1),range(n//2,n,1)):
    if pr(p) and pr(q):
      print(p, q)
      break

1
10000
4919 5081

In [ ]:
def pr(t): # 소수쌍 판별 함수
  a = all(t[0]%d for d in range(2,int(t[0]**0.5)+1))
  b = all(t[1]%e for e in range(2,int(t[1]**0.5)+1))
  return True if a and b else False
for _ in range(int(input())):
  n = int(input())
  for z in zip(range(n//2,1,-1),range(n//2,n-1,1)):
    if pr(z):
      print(*z)
      break

1
10000
4919 5081

# 2차원 배열

## 행렬 덧셈

In [ ]:
a = [list(map(int, input().split())) for i in [0]*int(input().split()[0])]
b = [list(map(int, input().split())) for i in [0]*len(a)]
for u,v in zip(a,b):
  for x,y in zip(u,v):
    print(x+y,end=' ')
  print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

In [ ]:
n,m = map(int,input().split())
a = [list(map(int,input().split())) for _ in range(n)]
b = [list(map(int,input().split())) for _ in range(n)]
for i in range(n):
  for j in range(m):
    print(a[i][j]+b[i][j],end=' ')
  print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

## 최댓값

In [ ]:
L = sum([list(map(int,input().split())) for _ in range(9)],[])
print(g:=max(L))
print((r:=L.index(g))//9+1,r%9+1)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

In [ ]:
A = [list(map(int,input().split())) for _ in range(9)]
print(g:=max(l:=[max(R) for R in A]))
print((r:=l.index(g))+1,A[r].index(g)+1)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

In [ ]:
A = [list(map(int,input().split())) for _ in range(9)]
v,r,c = max([(g:=max(R),A.index(R)+1,R.index(g)+1) for R in A])
print(v)
print(r,c)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

## 색종이

In [25]:
# 0으로만 구성된 100*100 2차원 배열에서 단위면적 1을 채우는 방식으로 접근
L = [[0 for _ in range(100)] for _ in range(100)]
for i in range(int(input())):
  x,y = map(int,input().split())
  for i in range(x,x+10):
    for j in range(y,y+10):
      L[i][j] = 1
print(sum(sum(L,[])))

3
3 7
15 7
5 2
260

# 재귀

## 팩토리얼

In [ ]:
def f(n): return n*f(n-1) if n>1 else 1
print(f(int(input())))

10

3628800

In [ ]:
import math
print(math.factorial(int(input())))

10
3628800

In [ ]:
F = 1
for i in range(2,int(input())+1):
  F *= i
print(F)

10
3628800

In [ ]:
N = int(input())
F = 1
while N>1:
  F *= N
  N -= 1
print(F)

10
3628800

## 피보나치 수 5

In [ ]:
def f(n): # 피보나치 재귀 함수
  return f(n-1)+f(n-2) if n>1 else n # 언젠가 f(0)과 f(1)을 계산하면 각각 0과 1
print(f(int(input())))

2
1

In [ ]:
# 피보나치 반복문; 두 항 단위로 갱신
a, b, n = 0, 1, int(input())
for _ in range(n//2): # 두 항 단위로 갱신하므로 
  a += b
  b += a
print((a,b)[n%2])

17
1597

In [ ]:
# 피보나치 반복문; 한 항씩 이동하면서 갱신
a,b,n = 0,1,int(input())
for _ in range(n-1):
  a,b = b,a+b
print((a,b)[n!=0]) # 0일 때만 앞 항을 출력

17
1597

In [ ]:
def f(n):
  if n<2:
    return n
  else:
    return f(n-1)+f(n-2)
print(f(int(input())))

10
55

In [ ]:
def f(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return f(n-1)+f(n-2)
print(f(int(input())))

10
55

## 재귀의 귀재

In [ ]:
def recursion(s,l,r):
  if l>=r:
    return 1,l+1
  elif s[l]!=s[r]:
    return 0,l+1
  else:
    return recursion(s,l+1,r-1)
def isPalindrome(s):
  return recursion(s,0,len(s)-1)
for _ in [0]*int(input()):
  print(*isPalindrome(input()))

5
MOM
1 2
ABBA
1 3
TENET
1 3
PPAP
0 2
PALINDROME
0 1

In [ ]:
for _ in [0]*int(input()):
  s = input()
  for i in range(len(s)):
    if s[i]!=s[~i]: # 비트연산자를 통한 '2의 보수' 인덱싱; ~0==-1
      print(0, i+1)
      break
  else:
    print(1, len(s)//2+1)

5
DAD
1 2
XYYX
1 3
KAYAK
1 3
YOOX
0 1
PALINDROME
0 1

## 알고리즘 수업 - 병합 정렬 1

In [ ]:
# Merge Sort algorithm
from math import ceil
def MS(A):
  if len(A)<2:
    return A
  m = ceil(len(A)/2)
  lowA = MS(A[:m])
  highA = MS(A[m:])

  L = []
  l = h = 0
  while l<len(lowA) and h<len(highA):
    if lowA[l]<highA[h]:
      L.append(lowA[l])
      l += 1
    else:
      L.append(highA[h])
      h += 1
  L += lowA[l:]+highA[h:]
  return L
MS([4,5,1,3,2])

[1, 2, 3, 4, 5]

In [ ]:
# 문제: 리스트 정렬에서 K번째로 정렬 및 저장되는 수 출력
from math import ceil
def MS(A):
  if len(A)<2:
    return A
  m = ceil(len(A)/2)
  lowA = MS(A[:m])
  highA = MS(A[m:])

  L = []
  l = h = 0
  global K
  while l<len(lowA) and h<len(highA):
    if lowA[l]<highA[h]:
      L.append(lowA[l])
      K -= 1
      if K==0:
        print(lowA[l])
      l += 1
    else:
      L.append(highA[h])
      K -= 1
      if K==0:
        print(highA[h])
      h += 1
  for r in lowA[l:]+highA[h:]:
    L.append(r)
    K -= 1
    if K==0:
      print(r)
  return L
  
N,K = map(int, input().split())
MS([*map(int, input().split())])  
if K>0:
  print(-1)

10 1
10 9 8 7 6 5 4 3 2 1
9

## 재귀함수가 뭔가요?

In [ ]:
def f(n):
  print('_'*4*(m-n)+'"재귀함수가 뭔가요?"')
  if n:
    print('_'*4*(m-n)+'"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.')
    print('_'*4*(m-n)+'마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.')
    print('_'*4*(m-n)+'그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."')
    f(n-1)
  else:
    print('_'*4*(m-n)+'"재귀함수는 자기 자신을 호출하는 함수라네"')
  print('_'*4*(m-n)+'라고 답변하였지.')
m = int(input())
print('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')
f(m)

2
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________"재귀함수가 뭔가요?"
________"재귀함수는 자기 자신을 호출하는 함수라네"
________라고 답변하였지.
____라고 답변하였지.
라고 답변하였지.

In [ ]:
def f(n):
  print('_'*4*(m-n)+'"재귀함수가 뭔가요?"')
  if not n:
    print('_'*4*(m-n)+'"재귀함수는 자기 자신을 호출하는 함수라네"')
  else:
    print('_'*4*(m-n)+'"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.')
    print('_'*4*(m-n)+'마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.')
    print('_'*4*(m-n)+'그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."')
    f(n-1)
  print('_'*4*(m-n)+'라고 답변하였지.')
m = int(input())
print('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')
f(m)

2
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________"재귀함수가 뭔가요?"
________"재귀함수는 자기 자신을 호출하는 함수라네"
________라고 답변하였지.
____라고 답변하였지.
라고 답변하였지.

In [ ]:
m = int(input())
def f(n):
  print('____'*(m-n)+'"재귀함수가 뭔가요?"')
  print('____'*(m-n)+'"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.')
  print('____'*(m-n)+'마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.')
  print('____'*(m-n)+'그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."')
  if n>1:
    f(n-1)
  else:
    print('____'*m+'"재귀함수가 뭔가요?"')
    print('____'*m+'"재귀함수는 자기 자신을 호출하는 함수라네"')
    print('____'*m+'라고 답변하였지.')
  print('____'*(m-n)+'라고 답변하였지.')
print('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')
f(m)

4
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________"재귀함수가 뭔가요?"
________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____________"재귀함수가 뭔가요?"
____________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________________"재귀함수가 뭔가요?"
________________"재귀함수는 자기 자신을 호출하는 함수라네"
________________라고 답변하였지.
____________라고 답변하였지.
________라고 답변하였지.
____라고 답변하였지.
라고 답변하였지.

## 별 찍기 - 10

In [ ]:
n, s, i = int(input()), '*', 1
while n>i:
  k = [c*3 for c in s]
  s = k + [c+' '*i+c for c in s] + k
  i *= 3
print('\n'.join(s))

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

In [ ]:
def f(n):
  if n==1: # 삼항연산자를 사용하는는 경우 메모리 초과 발생
    return ['*']
  S = f(n//3) # n/3으로 쓰면 타입 에러 발생
  L = []
  for s in S:
    L.append(s*3)
  for s in S:
    L.append(s+' '*(n//3)+s) # 중간의 공백 부분
  for s in S:
    L.append(s*3)
  return L
print(*f(int(input())), sep='\n')

In [ ]:
def f(n):
  if n==1:
    return ['*']
  S = f(n//3)
  L = []
  for s in S:
    L.append(s*3)
  for s in S:
    L.append(s+' '*(n//3)+s)
  for s in S:
    L.append(s*3)
  return L
print('\n'.join(f(int(input())))) # 요소가 되는 둘 이상의 문자열 사이마다 구분자

3
***
* *
***
3
***
* *
***

In [ ]:
# 재귀한도 설정하는 방법
import sys
sys.setrecursionlimit(10**6)

## 하노이 탑 이동 순서

In [ ]:
def h(n, s, e): # n-1개를 잉여막대에 옮겨두고, 가장 큰 1개를 목표막대에 깐 뒤, 잉여막대의 n-1개를 목표막대의 1개 위로 옮긴다.
  if n==1:
    print(s, e)
    return
  h(n-1, s, 6-s-e) # 잉여막대번호는 1,2,3중에서 출발막대와 목표막대를 제외한 번호
  print(s, e)
  h(n-1, 6-s-e, e)
N = int(input())
print(2**N-1)
h(N, 1, 3)

5
31
1 3
1 2
3 2
1 3
2 1
2 3
1 3
1 2
3 2
3 1
2 1
3 2
1 3
1 2
3 2
1 3
2 1
2 3
1 3
2 1
3 2
3 1
2 1
2 3
1 3
1 2
3 2
1 3
2 1
2 3
1 3

# 브루트 포스

## 블랙잭

In [ ]:
N,M = map(int, input().split())
c = list(map(int, input().split()))
s = []
for i in range(0,N-2):
  for j in range(i+1,N-1):
    for k in range(j+1,N):
      t = c[i]+c[j]+c[k]
      if t<=M:
        s.append(t)
print(max(s))

15 777
93 23 12 43 2 545 483 39 700 253 101 190 35 500 55
776

## 분해합

In [ ]:
# N의 입력제한이 1000000이므로 생성자가 999999일 때 각 자리수의 합이 54로 최대
# 즉, 적어도 이 문제에서 N의 모든 생성자는 N-54이상 N미만에서 탐색하면 충분
N,d = int(input()),0
for k in range(max(0,N-54),N):
  if k+sum(int(str(k)[i]) for i in range(len(str(k))))==N:
    d = k
    break
print(d)

123456
123441

In [ ]:
# 자연수 a부터 b까지 최소 생성자를 구하는 함수(상한: 10**10 -> 각 자리수 합 최대 90)
def min_gen(a,b):
  for N in range(a,b+1):
    d = '없음'
    for k in range(max(0,N-90),N):
      if k+sum(int(str(k)[i]) for i in range(len(str(k))))==N:
        d = k
        break
    print(N, '의 최소 생성자는 ', d, sep='')
  return
x,y = map(int, input().split())
min_gen(x,y)

1123456789 1123456879
1123456789의 최소 생성자는 1123456748
1123456790의 최소 생성자는 1123456753
1123456791의 최소 생성자는 1123456749
1123456792의 최소 생성자는 1123456754
1123456793의 최소 생성자는 없음
1123456794의 최소 생성자는 1123456755
1123456795의 최소 생성자는 1123456760
1123456796의 최소 생성자는 1123456756
1123456797의 최소 생성자는 1123456761
1123456798의 최소 생성자는 1123456757
1123456799의 최소 생성자는 1123456762
1123456800의 최소 생성자는 1123456758
1123456801의 최소 생성자는 1123456763
1123456802의 최소 생성자는 1123456759
1123456803의 최소 생성자는 1123456764
1123456804의 최소 생성자는 없음
1123456805의 최소 생성자는 1123456765
1123456806의 최소 생성자는 1123456770
1123456807의 최소 생성자는 1123456766
1123456808의 최소 생성자는 1123456771
1123456809의 최소 생성자는 1123456767
1123456810의 최소 생성자는 1123456772
1123456811의 최소 생성자는 1123456768
1123456812의 최소 생성자는 1123456773
1123456813의 최소 생성자는 1123456769
1123456814의 최소 생성자는 1123456774
1123456815의 최소 생성자는 없음
1123456816의 최소 생성자는 1123456775
1123456817의 최소 생성자는 1123456780
1123456818의 최소 생성자는 1123456776
1123456819의 최소 생성자는 1123456781
1123456820의 최소 생성자는 1123456777
1123456821의 최소 생성자는 1123456782
1123456822의 최소 생성자는 1123456778
1123456823의 최소 생성자는 1123456783
1123456824의 최소 생성자는 1123456779
1123456825의 최소 생성자는 1123456784
1123456826의 최소 생성자는 없음
1123456827의 최소 생성자는 1123456785
1123456828의 최소 생성자는 1123456790
1123456829의 최소 생성자는 1123456786
1123456830의 최소 생성자는 1123456791
1123456831의 최소 생성자는 1123456787
1123456832의 최소 생성자는 1123456792
1123456833의 최소 생성자는 1123456788
1123456834의 최소 생성자는 1123456793
1123456835의 최소 생성자는 1123456789
1123456836의 최소 생성자는 1123456794
1123456837의 최소 생성자는 없음
1123456838의 최소 생성자는 1123456795
1123456839의 최소 생성자는 없음
1123456840의 최소 생성자는 1123456796
1123456841의 최소 생성자는 1123456810
1123456842의 최소 생성자는 1123456797
1123456843의 최소 생성자는 1123456811
1123456844의 최소 생성자는 1123456798
1123456845의 최소 생성자는 1123456812
1123456846의 최소 생성자는 1123456799
1123456847의 최소 생성자는 1123456813
1123456848의 최소 생성자는 1123456809
1123456849의 최소 생성자는 1123456814
1123456850의 최소 생성자는 없음
1123456851의 최소 생성자는 1123456815
1123456852의 최소 생성자는 1123456820
1123456853의 최소 생성자는 1123456816
1123456854의 최소 생성자는 1123456821
1123456855의 최소 생성자는 1123456817
1123456856의 최소 생성자는 1123456822
1123456857의 최소 생성자는 1123456818
1123456858의 최소 생성자는 1123456823
1123456859의 최소 생성자는 1123456819
1123456860의 최소 생성자는 1123456824
1123456861의 최소 생성자는 없음
1123456862의 최소 생성자는 1123456825
1123456863의 최소 생성자는 1123456830
1123456864의 최소 생성자는 1123456826
1123456865의 최소 생성자는 1123456831
1123456866의 최소 생성자는 1123456827
1123456867의 최소 생성자는 1123456832
1123456868의 최소 생성자는 1123456828
1123456869의 최소 생성자는 1123456833
1123456870의 최소 생성자는 1123456829
1123456871의 최소 생성자는 1123456834
1123456872의 최소 생성자는 없음
1123456873의 최소 생성자는 1123456835
1123456874의 최소 생성자는 1123456840
1123456875의 최소 생성자는 1123456836
1123456876의 최소 생성자는 1123456841
1123456877의 최소 생성자는 1123456837
1123456878의 최소 생성자는 1123456842
1123456879의 최소 생성자는 1123456838

## 덩치

In [ ]:
L = [list(map(int, input().split())) for _ in range(int(input()))]
print(*[1+sum(m[0]<x[0] and m[1]<x[1] for x in L) for m in L])

5
55 185
58 183
88 186
60 175
46 155
2 2 1 2 5

In [ ]:
L = [list(map(int, input().split())) for _ in range(int(input()))]
print(*[1+sum(w<m and h<l for m,l in L) for w,h in L])

3
80 184
75 184
50 155
1 1 3

## 체스판 다시 칠하기

In [ ]:
N,M = map(int, input().split())
L = [input() for _ in range(N)]
W,B = ('WB'*4+'BW'*4)*4,('BW'*4+'WB'*4)*4 # 정답 체스판 두 가지를 각각 길이 64의 문자열로 저장
s = 64 # 바꿀 색의 수; 정답이랑 정반대인 경우 최대 64개를 바꿔야 함
for i in range(7,N):
  for j in range(7,M): # 주어진 보드의 인덱스(7,7)성분을 가장 우측하단 칸으로 하는 곳부터 시작해서 8*8보드 슬라이싱
    P = ''
    for k in range(i-7,i+1):
      P += L[k][j-7:j+1] # 슬라이싱된 8*8보드를 길이 64의 문자열로 저장
    x = sum(a!=b for a,b in zip(P,W))
    y = sum(a!=c for a,c in zip(P,B))
    s = min(min(x,y),s) # 정답 체스판과 다른 색의 수를 이전 값과 비교하여 최솟값으로 갱신
print(s)

10 13
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
WWWWWWWWWWBWB
WWWWWWWWWWBWB
12

## 영화감독 숌

In [ ]:
# 두 코드 모두 시간복잡도가 높으므로 이후에 보다 효율적인 코드 공부하기
N,i,t = int(input()),1,666
while i<N:
  t += 1
  if str(t).find('666')!=-1:
    i += 1
print(t)

10000
2666799

In [ ]:
N,i,t = int(input()),1,666
while i<N:
  t += 1
  if '666' in str(t):
    i += 1
print(t)

10000
2666799

# 정렬

## 수 정렬하기

In [ ]:
L = [int(input()) for _ in range(int(input()))]
L.sort()
print(*L, sep='\n')

4
150
-23
0
51
-23
0
51
150

In [ ]:
L = [int(input()) for _ in range(int(input()))]
L.sort()
for n in L:
  print(n)

5
5
4
2
3
1
1
2
3
4
5

In [ ]:
L = [int(input()) for _ in range(int(input()))]
while L!=[]:
  print(min(L))
  L.remove(min(L))

7
-1
-2
5
20
-45
20
3
-45
-2
-1
3
5
20
20

In [ ]:
print(*sorted(int(input()) for _ in range(int(input()))), sep='\n')

9
1
-1
2
-3
4
-5
6
-7
8
-7
-5
-3
-1
1
2
4
6
8

## 수 정렬하기 2

In [ ]:
import sys
print(*sorted(int(sys.stdin.readline()) for _ in range(int(input()))), sep='\n')

## 수 정렬하기 3

In [ ]:
# 주어지는 수(상한 10000)를 인덱스로 취급하여, 성분만큼 인덱스를 출력한다.(카운팅 알고리즘)
import sys
n = [0]*10001
for _ in range(int(input())):
  n[int(sys.stdin.readline())] += 1  # 인덱스에 해당하는 성분에 그 수가 입력된 횟수만큼 1을 더함
for i in range(10001):
  for j in range(n[i]):
    print(i)

5
6
90
3
4
3
3
3
4
6
90

## 대표값2

## 커트라인

In [ ]:
N,k = map(int, input().split())
print(sorted(map(int, input().split()), reverse=1)[k-1])

5 2
100 76 85 93 98

98

## 통계학

In [ ]:
from statistics import *;import sys
L = sorted([int(sys.stdin.readline()) for _ in range(int(input()))])
print(round(mean(L)), L[len(L)//2], multimode(L)[:2][-1], L[-1]-L[0], sep='\n')
# 코랩에서 statistics.multimode() 오류 발생

5
1
3
8
-2
2
2
2
1
10

In [ ]:
import sys;from collections import Counter
L = [int(sys.stdin.readline()) for _ in range(int(input()))]
m = sum(L)/len(L)
# if m-int(m)==0.5:
#   m = int(m)+1
# elif m-int(m)==-0.5:
#   m = int(m)-1
# else:
#   m = round(m)
# 단, 이 문제에서 입력개수가 홀수이고 입력형태가 정수이므로 소수 부분이 0.5로 나오지 않음
print(round(m)) # 산술평균(소수점 이하 첫째 자리에서 반올림)
print(sorted(L)[len(L)//2]) # 중앙값
M = Counter(L).most_common() # 빈도 기준 내림차순으로 (값, 빈도)쌍의 모음
F = []
for t in M:
  if t[1]!=M[0][1]:
    break
  F.append(t[0]) # 최빈값들만 모음
F.sort()
print(F[1] if len(F)>1 else F[0]) # 최빈값(여러 개->두 번째 작은 값)
print(max(L)-min(L)) # 범위(최대-최소)

5
-1
-2
-3
-1
-2
-2
-2
-1
2

In [ ]:
# 카운팅 알고리즘 사용(주어지는 수의 절댓값의 상한이 4000이므로 인덱스를 8000까지 사용)
# -4000->0, 0->4000, 4000->8000으로 평행이동
import sys
L = [0]*8001
N = int(input())
s = 0
for _ in range(N):
  n = int(sys.stdin.readline())
  L[n+4000] += 1
  s += n # 입력된 수의 총합
print(round(s/N)) # 산술평균
c = 0
i = -1
while c<N//2+1: # 작은 수부터 세어서 총 개수가 반을 넘는 순간 중단
  i += 1
  c += L[i]
print(i-4000) # 중앙값
M = []
for i in range(8001):
  if L[i]==max(L):
    M.append(i-4000) # 최빈값들만 모음(인덱스이므로 자동 오름차순)
print(M[1] if len(M)>1 else M[0]) # 최빈값
a,b = 0,8000
while not L[a]: # 0이면 실행, 아니면 중단
  a += 1
while not L[b]:
  b -= 1 
print(b-a) # 범위

5
1
3
8
-2
2
2
2
1
10

In [ ]:
# 소수점 이하 첫째 자리에서 반올림 함수(round는 소수 부분이 0.5일 때 오류 발생)
def R1(x):
  if x-int(x)==0.5: # 양수이면서 소수 부분이 0.5
    r = int(x)+1
  elif x-int(x)==-0.5: # 음수이면서 소수 부분이 0.5
    r = int(x)-1
  else: # 소수 부분이 0.5가 아님
    r = round(x)
  return r

for a in [0.5,1.5,-0.5,-1.5,-1,0,1,2,7.8,-10.2]:
  print(R1(a), round(a))

1 0
2 2
-1 0
-2 -2
-1 -1
0 0
1 1
2 2
8 8
-10 -10

In [ ]:
# 최빈값(여러 개->두 번째 작은 값) 함수
from collections import Counter
def Mode(L):
  M = Counter(L).most_common()
  F = []
  for m in M:
    if m[1]!=M[0][1]:
      break
    F.append(m)
  F.sort()
  return F[0][0] if len(F)==1 else F[1][0]

Mode([-1,-1,-1,0,0,2,2,2,3,4,4,4])

2

## 소트인사이드

In [ ]:
print(*sorted(input(), reverse=1),sep='')

12345678900
98765432100

In [ ]:
print(''.join(sorted(input())[::-1]))

2815470943
9875443210

In [ ]:
print(*sorted(input())[::-1],sep='')

74838593
98875433

## 좌표 정렬하기

In [ ]:
import sys
L = []
for _ in range(int(input())):
  L.append(list(map(int, sys.stdin.readline().split())))
for p in sorted(L):
  print(*p)

In [ ]:
import sys
L = []
for _ in range(int(input())):
  L.append(list(map(int, sys.stdin.readline().split())))
L.sort()
for p in L:
  print(*p)

4
1 2
1 3
2 -2
2 -1
1 2
1 3
2 -2
2 -1

In [ ]:
for p in sorted([*map(int, input().split())] for _ in [0]*int(input())):
  print(*p)

5
0 4
1 2
1 -1
2 2
3 3
0 4
1 -1
1 2
2 2
3 3

## 좌표 정렬하기 2

In [ ]:
import sys
L = []
for _ in range(int(input())):
  L.append(list(map(int, sys.stdin.readline().split())))
L.sort(key=lambda x:(x[1],x[0]))
for p in L:
  print(*p)

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

In [ ]:
import sys
L = []
for _ in range(int(input())):
  L.append(list(map(int, sys.stdin.readline().split())))
for p in sorted(L, key=lambda x:(x[1],x[0])):
  print(*p)

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

In [ ]:
for p in sorted([[*map(int, input().split())] for _ in [0]*int(input())], key=lambda x:(x[1],x[0])):
  print(*p)

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

In [ ]:
for i,j in sorted([*map(int, input().split()[::-1])] for _ in [0]*int(input())):
  print(j,i)

3
-1 2
0 2
-1 -1
-1 -1
-1 2
0 2

In [ ]:
for p in sorted([*map(int, input().split()[::-1])] for _ in [0]*int(input())):
  print(*p[::-1])

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

## 단어 정렬

In [ ]:
# 숏코딩
print(*sorted(sorted({input() for _ in range(int(input()))}), key=len))

3
a
a
cv
a cv

In [ ]:
print(*sorted({input() for _ in range(int(input()))}, key=lambda x:(len(x),x)))

5
zx
abc
abc
cba
ade
zx abc ade cba

In [ ]:
# sys.stdin.readline()로 문자열 입력 시 개행 제거
import sys
L = list({sys.stdin.readline().rstrip() for _ in range(int(input()))})
print(*sorted(L, key=lambda x:(len(x),x)))

In [ ]:
# set 정렬에 .sort()는 불가능(list 정렬에 가능), sorted()는 가능
L = {input() for _ in range(int(input()))}
print(*sorted(L, key=lambda x:(len(x),x)))

5
zx
abc
abc
cba
ade
zx abc ade cba

In [ ]:
L = list({input() for _ in range(int(input()))})
L.sort(key=lambda x:(len(x),x))
print(*L)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i im it no but more wait wont yours cannot hesitate

In [ ]:
L = sorted({input() for _ in range(int(input()))})
L.sort(key=len)
print(*L)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i im it no but more wait wont yours cannot hesitate

## 나이순 정렬

In [ ]:
print(*sorted([input() for _ in [0]*int(input())], key=lambda x:int(x.split()[0])))

5
27 Daesang
96 Harmony
3 eggy
200 monster
27 Gahee
3 eggy 27 Daesang 27 Gahee 96 Harmony 200 monster

In [ ]:
for m in sorted([input().split() for _ in [0]*int(input())], key=lambda x:int(x[0])):
  print(*m)

4
100 Josang
100 Baekjoon
19 Semiman
50 Kyun
19 Semiman
50 Kyun
100 Josang
100 Baekjoon

## 좌표 압축

In [ ]:
# dict 사용
input()
L = list(map(int, input().split()))
S = sorted(set(L))
D = {S[i]:i for i in range(len(S))}
for n in L:
  print(D[n], end=' ')

5
1000 999 1000 999 1000
1 0 1 0 1

In [ ]:
input()
L = list(map(int, input().split()))
D = {y:x for x,y in enumerate(sorted(set(L)))} # enumerate로 인덱스 반환
print(*[D[n] for n in L])

5
2 4 -10 4 -9
2 3 0 3 1

In [ ]:
input()
L = [*map(int, input().split())]
D = dict(zip(sorted({*L}), range(9**9)))
print(*[D[n] for n in L])

5
2 4 -10 4 -9
2 3 0 3 1

In [ ]:
# 시간 초과!!! .index()로 인한 시간복잡도 증가
N = int(input())
L = list(map(int, input().split()))
S = sorted(set(L))
print(*[S.index(l) for l in L])

5
2 4 -10 4 -9
2 3 0 3 1

# 집합과 맵

## 숫자 카드

In [ ]:
input()
C = {*input().split()} # list로 저장하면 마지막 코드의 포함 연산에서 시간복잡도가 증가
input()
print(*[int(l in C) for l in input().split()])

3
1 10 100
5
100 0 10 1 1000
1 0 1 1 0

## 문자열 집합

In [ ]:
# 숏코딩
N,M = map(int, input().split())
S = {input() for _ in [0]*N}
print(sum(input() in S for _ in [0]*M))

In [ ]:
N,M = map(int, input().split())
S = {input() for _ in range(N)}
M = [input() for _ in range(M)]
print(sum(m in S for m in M))

5 11
baekjoononlinejudge
startlink
codeplus
sundaycoding
codingsh
baekjoon
codeplus
codeminus
startlink
starlink
sundaycoding
codingsh
codinghs
sondaycoding
startrink
icerink
4

## 나는야 포켓몬 마스터 이다솜

In [ ]:
import sys
N,M = map(int, input().split())
D = {}
for i in range(1,N+1):
  p = sys.stdin.readline().strip()
  D[p],D[str(i)] = i,p
for _ in [0]*M:
  print(D[sys.stdin.readline().strip()])

In [ ]:
# PyPy3, sys 등의 사용에 따라 시간 초과 여부가 다름  
N,M = map(int, input().split())
D = {} # 포켓몬 도감
for i in range(1,N+1):
  p = input()
  D[p],D[str(i)] = i,p # 도감에 '번호:이름'과 '이름:번호'의 형태를 모두 저장
for _ in [0]*M:
  print(D[input()])

26 5
Bulbasaur
Ivysaur
Venusaur
Charmander
Charmeleon
Charizard
Squirtle
Wartortle
Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
Pidgey
Pidgeotto
Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
25
Pikachu
Raichu
26
3
Venusaur
Pidgey
16
Kakuna
14

In [ ]:
import sys
N,M = map(int, input().split())
L = dict(zip([*map(str, range(1,N+1))], [sys.stdin.readline().strip() for _ in range(N)]))
P = dict(zip([L[n] for n in L], [*L])) # L은 '번호:이름', P는 '이름:번호' 도감 
for _ in range(M):
  x = sys.stdin.readline().strip()
  if x in L:
    print(L[x])
  else:
    print(P[x])

5 3
yadoran
pikachu
gahee
daesang
lisa
1
yadoran
yadoran
1
lisa
5

## 숫자 카드 2

In [ ]:
from collections import *
I = input
I()
C = Counter(I().split())
I()
print(*[C[x] for x in I().split()])

5
1 1 1 3 4
10
1 2 3 1 2 3 4 3 2 0
3 0 1 3 0 1 1 1 0 0

## 듣보잡

In [ ]:
N,M = map(int, input().split())
R = sorted({input() for _ in [0]*N}&{input() for _ in [0]*M})
print(len(R), *R)

3 4
ohhenrie
charlie
baesangwook
obama
baesangwook
ohhenrie
clinton
2
baesangwook
ohhenrie

In [ ]:
import sys
N,M = map(int, input().split())
R = {sys.stdin.readline().strip() for _ in [0]*N}&{sys.stdin.readline().strip() for _ in [0]*M}
print(len(R), *sorted(R), sep='\n')

## 대칭 차집합

In [ ]:
input().split()
print(len({*input().split()}^{*input().split()}))

3 5
1 2 4
2 3 4 5 6
4

## 서로 다른 부분 문자열의 개수

In [ ]:
S = input()
print(len({S[j:j+i] for i in range(1,len(S)+1) for j in range(len(S)-i+1)}))

ababc
12

In [ ]:
S = input()
print(len({S[i:j] for i in range(len(S)) for j in range(i+1,len(S)+1)}))

ababc
12

In [ ]:
S = input()
P = set()
for i in range(1,len(S)+1):
  for j in range(len(S)-i+1):
    P.add(S[j:j+i])
print(len(P))

ababc
12

In [ ]:
S = input()
P = []
for i in range(1,len(S)+1):
  for j in range(len(S)-i+1):
    P.append(S[j:j+i])
print(len({*P}))

ababc
12

# 기하 1

## 직사각형에서 탈출

## 네 번째 점

## 직각삼각형

## 참외밭

## 택시 기하학

## 터렛

## 어린 왕자

## 하키

# 스택

## 키로거

In [ ]:
# 비밀번호를 커서 기준으로 좌우로 분할하여 스택에 저장
# 커서를 직접 이동시키는 대신,
# 커서를 고정하고 문자열만 좌우로 움직여서 구현
# 단, 커서가 이동 가능한 범위에 대한 제약 주의
for _ in range(int(input())):
  L,R = [],[]
  for c in [*input()]:
    if c=='<':
      if L:
        R.append(L.pop())
    elif c=='>':
      if R:
        L.append(R.pop())
    elif c=='-':
      if L:
        L.pop()
    else:
      L.append(c)
  print(''.join(L+R[::-1]))

2
<<BP<A>>Cd-
BAPC
ThIsIsS3Cr3t<<<<-3>
ThIsIsS3Cr3t

In [ ]:
# 시간 초과
for _ in range(int(input())):
  i,P = 0,[]
  for c in [*input()]:
    if c=='<' and i>0:
      i -= 1
    elif c=='>' and i<len(P):
      i += 1
    elif c=='-' and i>0:
      P.pop(i-1)
      i -= 1
    elif c not in '<>-':
      P.insert(i,c)
      i += 1
  print(''.join(P))

1
abd<<<>>E-w
abwd

# 분할 정복

## 곱셈

In [ ]:
# 내장 함수 사용; 알아서 효율적인 알고리즘으로 계산
print(pow(*map(int,input().split())))

67 5 17
16

In [ ]:
# 재귀 함수 정의
def f(A,B,C):
  if B==1:
    return A%C
  else:
    return f(A,B//2,C)**2*[1,A][B%2]%C
print(f(*map(int,input().split())))

67 5 17
16

In [ ]:
# 재귀 함수 가독성 개선
def f(A,B,C):
  if B==1: # 거듭제곱하지 않을 때
    return A%C
  else:
    r = f(A,B//2,C)
    if B%2: # 홀수제곱일 때
      return ((r**2)*A)%C
    else: # 짝수제곱일 때
      return (r**2)%C
print(f(*map(int,input().split())))

67 5 17
16